@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}
/* Define the scrollbar width and track color */
::-webkit-scrollbar {
  width: 6px; /* You can adjust the width as needed */
}

/* Define the scrollbar track color (the background) */
::-webkit-scrollbar-track {
  background-color: #f0f0f0; /* Adjust the track color as needed */
}

/* Define the scrollbar thumb color (the handle) */
::-webkit-scrollbar-thumb {
  background-color: #8a88fb; /* Change to the desired color (#8A88FB) */
  border-radius: 3px; /* Rounded corners for the thumb */
}

/* Define the scrollbar thumb color when hovered */
::-webkit-scrollbar-thumb:hover {
  background-color: #655de6; /* Change to the desired hover color (optional) */
}

/* HAMBURGER MENU */

.hamburger {
  cursor: pointer;
  width: 24px;
  height: 24px;
  transition: all 0.25s;
  position: relative;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
  content: "";
  position: absolute;
  width: 24px;
  height: 3px;
  top: 0;
  left: 0;
  background: #9c9aa6;
  transform: rotate(0);
  transition: all 0.5s;
}

.hamburger-middle {
  transform: translateY(7px);
}

.hamburger-bottom {
  transform: translateY(14px);
}

.open {
  transform: rotate(90deg);
  transform: translateY(0px);
}

.open .hamburger-top {
  transform: rotate(45deg) translateY(6px) translateX(6px);
}

.open .hamburger-middle {
  display: none;
}

.open .hamburger-bottom {
  transform: rotate(-45deg) translateY(6px) translateX(-6px);
}

.cta {
  color: #fff;
  text-align: center;

  font-style: normal;
  font-weight: 700;
  /* 69.6px */
}
.Faq-cdl h1 {
  font-family: "Inter", sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 43px; /* 125% */
  letter-spacing: -1.44px;
}

.accordion {
  max-width: 600px;
  margin: 2rem auto;
}

.accordion-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  cursor: pointer;
  border-top: 1px solid var(--black-006, #ececec);
  border-bottom: 1px solid var(--black-006, #ececec);
}

.accordion-title:hover {
  background-color: #8a88fb;
  color: white;
}

.accordion-title,
.accordion-content {
  padding: 1rem;
  font-size: 14px;
  font-weight: 500;
}
.accordion-content {
  padding: 1rem;
  font-size: 14px;
  font-weight: 400;
  background-color: #7371d1;
}
.fix-it {
  overflow-x: hidden;
}
.shadow {
  box-shadow: 0 2px 15px rgb(0 0 0 / 68%);
}

/* Chat List */
.ce-wrapper {
  background-color: #4a5162 !important;
}

.ce-chats-container {
  background-color: #4a5162 !important;
  border-radius: 0px !important;
}

.ce-chat-form-container {
  background-color: #4a5162 !important;
  color: white;
}

.ce-chat-card {
  margin: 0px 6px !important;
}

.ce-chat-card-loading-bar {
  background-color: #535a6d !important;
}

.ce-active-chat-card {
  background-color: #726dfe !important;
}

.ce-chat-title-text {
  color: white !important;
}

.ce-chat-subtitle-text {
  color: hsla(0, 0%, 100%, 0.568) !important;
}

.ce-chat-unread-dot {
  background-color: white !important;
}

/* Chat Feed */

.ce-chat-title-container {
  background-color: #4a5162 !important;
  border-radius: 0px !important;
}

.ce-chat-feed-container {
  background-color: #4a5162 !important;
}

.ce-primary-button {
  background-color: #9a97fc !important;
}

.ce-message-date-text {
  color: hsla(0, 0%, 100%, 0.568) !important;
}

.ce-my-message-bubble {
  background-color: #726dfe !important;
}

.ce-my-message-sinding-bubble {
  background-color: #938ffe !important;
}

.ce-my-message-timestamp {
  color: #9a97fc !important;
}

.ce-their-message-timestamp {
  color: hsla(0, 0%, 100%, 0.568) !important;
}

#ce-send-message-button {
  background-color: #9a97fc !important;
}

#ce-ice-breaker-gif {
  max-width: 115px !important;
  margin-top: 30px !important;
}

.ce-social-message-form {
  background-color: #4a5162 !important;
}

.ce-message-input-form {
  padding-bottom: 10px !important;
}

#msg-textarea {
  width: calc(100% - 140px) !important;
  position: relative !important;
  top: 4px !important;
  border-width: 0px !important;
  background-color: #4a5162 !important;
  color: white !important;
}
#msg-textarea::placeholder {
  color: hsla(0, 0%, 100%, 0.568) !important;
}

#ce-upload-document-icon {
  color: white !important;
}

.ce-feed-container-bottom {
  height: "44px";
}

.ce-message-images-row {
  background-color: #4a5162 !important;
}

.ce-their-message-sender {
  color: hsla(0, 0%, 100%, 0.568) !important;
}

.ce-their-message-bubble {
  background-color: #535a6d !important;
  color: rgba(255, 255, 255, 0.705) !important;
}

/* Chat Settings */

.ce-settings {
  background-color: #4a5162 !important;
  border-radius: 0px !important;
}

.ce-chat-title-form .ce-text-input {
  background-color: #4a5162;
  color: white;
}

.ce-section-title-container {
  background-color: #4a5162 !important;
  color: white;
}

#ce-options-drop-down {
  background-color: #4a5162 !important;
  color: white;
}

.ce-person-text {
  color: hsla(0, 0%, 100%, 0.568);
}

.ce-danger-button {
  background-color: #4a5162 !important;
  border: 1px solid #9a97fc !important;
  color: #9a97fc !important;
}

.ce-autocomplete-close {
  background-color: white !important;
  border-radius: 0px !important;
}
.transition-3 {
  transition: all 0.33s ease;
  -webkit-transition: all 0.33s ease;
  -moz-transition: all 0.33s ease;
}

@media screen and (max-width: 700px) {
  body {
    font-size: 18px;
  }
}
